body {
    background-color: #CDEEFF;
    margin: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
}

h1 { 
    color: #02025C;
    margin-bottom: 30px;
} 
        
button { 
    color: white; 
    background-color:#424295; 
    padding: 12px 20px; 
    font-size: 15px; 
    border-radius: 15px; 
    border: none;
    margin-top: 10px; 
    cursor: pointer; 
    font-weight: 600; 
    transition: transform 0.3s; 
    width: 150px;
} 
        
button:hover { 
    transform: scale(1.1); 
} 
        
input {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #6c6cc9;
    width: 140px;
}
        
img { 
    max-height: 300px;
    width: auto;
    margin-bottom: 20px;
}
