body {
    background-color: #CDEEFF;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 150px;
    gap: 10px;
    margin: 20px;
}

h1 {
    color: #02025C;
    margin-bottom: 20px;
        }

button {
    color: white;
    background-color: #424295;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s;
    max-width: 30vw;
}

button:hover {
    transform: scale(1.1);
}

input {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #6c6cc9;
    max-width: 35vh;
}

img {
    max-height: 40vh;
    width: auto;
    object-fit: contain;
}
