body {
    background-color: #CDEEFF;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

h1 { 
    color: #02025C;
} 
button { 
    color: white; 
    background-color:#424295; 
    padding: 14px; 
    font-size: 15px; 
    border-radius: 15px; 
    border-color:#CDEEFF; 
    margin-top: 30px; 
    box-shadow: #CDEEFF; 
    cursor: pointer; 
    font-weight: 600; 
    transition: transform 1s; 
    max-width: 120px;
} 
button:hover { 
    transform: scale(1.1); 
} 
input {
    padding: 5px;
    border-radius: 10px;
    border-color: #6c6cc9;
    max-width: 150px;
}
body { 
    background-color: #CDEEFF; 
    text-align: center; 
} 
img { 
    height: 45vh; 

}

